<div class="col-md-12">
  <h2> User Details</h2>
  <button class="btn btn-danger" (click)="addUser()">Add User</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.createdAt | date:'medium'}}</td>
        <td>{{user.updatedAt | date:'medium'}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
          <button class="btn btn-danger" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
